<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta name="format-detection" content="telephone=no">
	<meta name="keywords" content="THE WHY HOW DO COMPANY, WHDC">
	<meta name="description" content="THE WHY HOW DO COMPANY株式会社の会社情報(「アクセスマップ」「プライバシーポリシー」「ご利用にあたって」「お問い合わせ」)について情報を掲載しています。">
	<meta name="companyprofile" content="THE WHY HOW DO COMPANY株式会社、本社：東京都新宿区愛住町22 第3山田ビル、TEL：03-4405-5460、設立：2004年7月12日、代表者：代表取締役社長   篠原 洋、証券取引所：東京証券取引所市場第二部、証券コード：3823、発行済株式数：25,794,693株(2019年8月31日現在)、主要株主：田邊 勝己(15.95％)、堤 純也(1.70％)(2019年8月31日現在) 、グループ会社：株式会社渋谷肉横丁、株式会社インタープラン、株式会社クリプト・フィナンシャル・システム、GUAM ENTERTAINMENT SYSTEMS,LLC 、株式会社セントラル・ベアー・アセット・マネジメント、有限会社武藤製作所">
	<title>THE WHY HOW DO COMPANY | アクセスマップ</title>
	<link rel="icon" href="../image/favicon.ico">
	<link rel="stylesheet" href="../css/common.css?201810161">
	<link rel="stylesheet" href="../css/style.css?201810161">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	
	<script>
	$(document).ready(function() {
	  $(".view_timer").each(function(index, target) {
	    var startDate = $(this).attr("data-start-date");
	    var endDate = $(this).attr("data-end-date");
	    var nowDate = new Date();
		
	    if (startDate) {
	      startDate = new Date(startDate);
	    }
	    else {
	      startDate = nowDate;
	    }
	    if (endDate) {
	      endDate = new Date(endDate);
	    }

	    if (startDate <= nowDate && (!endDate || nowDate <= endDate)) {
	      $(this).show();
	    }
	    else {
	      $(this).hide();
	    }
	  });
	});
	</script>
	
</head>
<body>
	<div id="headerOutPut" class="bgDeepBlue white">
		<script>
			var date_obj = new Date();
			var tparm = Math.floor(date_obj.getTime() / 1000);
			var url = "/parts/header.html?" + tparm;
			$("#headerOutPut").load(url);
		</script>
	</div>
<main id="top">
	<div id="printTarget">
		<div id="printBox" class="width100">
			<img class="view_timer" data-end-date="2021/12/31 23:59:59" src="../image/map.png" alt="">
			<img class="view_timer" data-start-date="2022/1/1 00:00:00" src="../image/map_2022.png" alt="">
		</div>
		<div id="accessData" class="left">
			<ul class="fontSize20">
				<li>〒 160-0005</li>
				<li>東京都新宿区愛住町22 第3山田ビル</li>
				<li>TEL : 03-4405-5460</li>
				<li>FAX : 03-4405-6048</li>
				<li>【交通】</li>
				<li>都営新宿線 曙橋駅（A1出口より徒歩約4分）<br> 東京メトロ 丸ノ内線 	四谷三丁目駅（2番出口より徒歩約8分）</li>
				<li>＊ニチイキッズ曙橋保育園すぐ左に入り口がございます。</li>
			</ul>
		</div>
		<aside id="buttonSet">
			<button id="printStart" class="bgHighBlue white fontSize26" onclick="printMethod();">印刷する
			</button>
		</aside>
	</div>
	<footer>
		<div id="footerOutPut" class="bgDeepBlue white">
			<script>
				var date_obj = new Date();
				var tparm = Math.floor(date_obj.getTime() / 1000);
				var url = "/parts/footer.html?" + tparm;
				$("#footerOutPut").load(url);
			</script>
		</div>
	</footer>
</main>
	<script src="../js/script.js"></script>
	<!-- ///////////////印刷機能////////////// -->
	<script>



		
		function printMethod() {
			var main = $("#top");
				printStart = $("#printStart");
			$("#footerOutPut").hide();
			printStart.hide();
			window.print();
			setTimeout(function(){
				printStart.show();
				$("#footerOutPut").show();
			},200);
		}






	</script>
	<!-- ///////////////印刷機能////////////// -->
	<script src="../js/gaEventTracking.js"></script>
</body>
</html>