<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta name="format-detection" content="telephone=no">
	<meta name="keywords" content="THE WHY HOW DO COMPANY">
	<meta name="description" content="会社概要(「代表挨拶・コメント」「会社情報」「沿革」など)の情報を掲載しています。">
	<meta name="companyprofile" content="THE WHY HOW DO COMPANY株式会社(THE WHY HOW DO COMPANY, Inc.)、本社：東京都新宿区愛住町22 第3山田ビル、TEL：03-4405-5460、設立：2004年7月12日、代表者：代表取締役会長兼社長　田邊 勝己、証券取引所：東京証券取引所市場第二部、証券コード：3823、グループ事業：株式会社渋谷肉横丁、株式会社インタープラン、株式会社クリプト・フィナンシャル・システム、GUAM ENTERTAINMENT SYSTEMS,LLC、株式会社SOUND PORT、Pavilions株式会社、WHDCロジテック株式会社、株式会社宇部整環リサイクルセンター">
	<title>会社概要｜ワイハウ - THE WHY HOW DO COMPANY株式会社</title>
	<link rel="icon" href="../image/favicon.ico">
	<link rel="stylesheet" href="../css/common.css">
	<link rel="stylesheet" href="../css/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<style>
	dt{
		float: left;
		width:90px;
	}
	dd{
	 	margin-left: 80px;
	}
	</style>
</head>
<body id="topPage">
	<div id="headerOutPut" class="bgDeepBlue white">
		<script>
			var date_obj = new Date();
			var tparm = Math.floor(date_obj.getTime() / 1000);
			var url = "/parts/header.html?" + tparm;
			$("#headerOutPut").load(url);
		</script>
	</div>
<main id="top">
<!-- ファーストビュー -->
	<div id="firstView">
		<div id="slideBox">
			<div id="slideFirst">
				<img id="image01" src="../image/firstview_about_2022_768.png" alt="firstview_about_">
			</div>
		</div>
	</div>

	<!-- 会社概要および沿革 -->
		<section class="tableBox" id="profile">
			<div id="aboutHeader">
				<div id="speachTitle">
					<h2 class="highBlue fontSize32 borderHighBlue">会社情報</h2>
					<table class="fontSize20 black bgWhite">
				</div>
			</div>
				<tbody>
					<tr>
						<th class="left normal">会社名</th>
						<td class="normal">THE WHY HOW DO COMPANY株式会社&nbsp;（英文名&nbsp;THE WHY HOW DO COMPANY, Inc. ）</td>
					</tr>
					<tr>
						<th class="left normal">本社</th>
						<td class="normal">〒160-0005&nbsp;東京都新宿区愛住町22 第3山田ビル&nbsp;&nbsp;<a href="../accessmap/index.html">[地図]</a>
						<br>TEL：03-4405-5460（代表）&nbsp;FAX：03-4405-6048
						</td>
					</tr>
					<tr>
					<th class="left normal">設立</th>
					<td class="normal">2004年7月12日</td>
					</tr>
					<tr>
						<th class="left normal">代表者</th>
						<td class="normal">代表取締役社長&nbsp;&nbsp;岩尾&nbsp;俊兵</td>
					</tr>
					<tr>
						<th class="left normal">資本金</th>
						<td class="normal">1,617百万円（2024年8月31日現在）</td>
					</tr>
					<tr>
						<th class="left normal">売上高</th>
						<td class="normal">747百万円［連結］（2024年8月期）</td>
					</tr>
					<tr>
						<th class="left normal">従業員数</th>
						<td class="normal">31名 [連結]（2024年8月期）</td>
					</tr>
					<tr>
						<th class="left normal">事業内容</th>
						<td class="normal" id="jigyounaiyou">次の事業を営むこと及び次の事業を営む会社等事業体の株式または持分を所有することによる事業活動の管理
							<li>スマートフォン向けサービス及びソリューションの提供</li>
							<li>コンピュータに関する個人及び企業への教育</li>
							<li>不動産賃貸（サブリースを含む）</li>
							<li>コンサート、演劇、演芸、講演、スポーツ等各種イベントの企画、制作、興行</li>
							<li>知的財産権の管理、販売及び使用許諾等</li>
							<li>産業廃棄物及び一般廃棄物の再資源化処理物の販売</li>
							<li>その他</li>
						</td>
					</tr>
					<tr>
						<th class="left normal">主要取引銀行</th>
						<td class="normal">
							城南信用金庫、みずほ銀行&nbsp;中目黒支店、三井住友銀行&nbsp;渋谷支店、三菱UFJ銀行&nbsp;新橋支店
						</td>
					</tr>
					<tr>
						<th class="left normal">グループ会社</th>
						<td class="normal">
							WHDCアクロディア株式会社、株式会社渋谷肉横丁、株式会社インタープラン、WHDCエンタテインメント株式会社、GUAM ENTERTAINMENT SYSTEMS, LLC 、株式会社SOUND PORT、Pavilions株式会社、株式会社宇部整環リサイクルセンター
						</td>
					</tr>
				</tbody>
			</table>
			<ul>
				<li class="shadow bgHighBlue">
					<a href="officer/" class="white fontSize20">役員/コンプライアンス委員</a>
				</li>
				<br><br>
				<li class="shadow bgHighBlue">
					<a href="interview/" class="white fontSize20">コンプライアンスについて(顧問弁護士 田邊勝己弁護士)</a>
				</li>
			</ul>
		</section>

<!-- 会社概要 -->
<section class="tableBox" id="history">
	<h2 class="highBlue fontSize32 borderHighBlue">沿革</h2>
	<table class="fontSize20 black bgWhite">
		<tbody>
			<tr>
				<th class="right normal">2004年&nbsp;&nbsp;7月</th>
				<td class="normal">東京都渋谷区恵比寿に資本金1,400万円をもって会社設立</td>
			</tr>
			<tr>
				<th class="right normal">2005年&nbsp;&nbsp;3月</th>
				<td class="normal">マルチメディアに対応したユーザーインターフェースエンジン「VIVID UI」を開発</td>
			</tr>
			<tr>
				<th class="right normal">2006年10月</th>
				<td class="normal">東京証券取引所マザーズ上場</td>
			</tr>
			<tr>
				<th class="right normal">2010年11月</th>
				<td class="normal">Android搭載スマートフォン向けサービス「きせかえtouch」の提供開始</td>
			</tr>
			<tr>
				<th class="right normal">2011年&nbsp;&nbsp;6月</th>
				<td class="normal">Android搭載端末向けソリューション「Multi-package Installer for Android」の提供開始</td>
			</tr>
			<tr>
				<th class="right normal">6月</th>
				<td class="normal">Android搭載端末向けDRMソリューション「Acrodea Rights Guard」の提供開始</td>
			</tr>
			<tr>
				<th class="right normal">2013年11月</th>
				<td class="normal">KLab株式会社よりシステムインテグレーション事業（SI事業）を譲受</td>
			</tr>
			<tr>
				<th class="right normal">2016年&nbsp;&nbsp;3月</th>
				<td class="normal">「インターホンIoTシステム」の提供開始</td>
			</tr>
			<tr>
				<th class="right normal">2017年&nbsp;&nbsp;3月</th>
				<td class="normal">株式会社渋谷肉横丁を連結子会社化</td>
			</tr>
			<tr>
				<th class="right normal">9月</th>
				<td class="normal">株式会社インタープランを連結子会社化</td>
			</tr>
			<tr>
				<th class="right normal">10月</th>
				<td class="normal">株式会社エンターテイメントシステムズ（GUAM ENTERTAINMENT SYSTEMS, LLC）を連結子会社化（現 株式会社クリプト・フィナンシャル・システム）</td>
			</tr>
			<tr>
				<th class="right normal">12月</th>
				<td class="normal">「Technical Pitch」の提供開始</td>
			</tr>
			<tr>
				<th class="right normal">2018年&nbsp;&nbsp;1月</th>
				<td class="normal">東京証券取引所市場第二部へ上場市場変更</td>
			</tr>
			<tr>
				<th class="right normal">11月</th>
				<td class="normal">金融二種登録業者の麹町アセット・マネジメント株式会社を連結子会社化（現 株式会社セントラル・ベアー・アセット・マネジメント)</td>
			</tr>
			<tr>
				<th class="right normal">2019年&nbsp;&nbsp;4月</th>
				<td class="normal">投球データ解析のWebサービス「i・Ball Technical Pitch Lab」の提供を開始</td>
			</tr>
			<tr>
				<th class="right normal">4月</th>
				<td class="normal">オンラインビンゴカジノシステムを開発完了</td>
			</tr>
			<tr>
				<th class="right normal">5月</th>
				<td class="normal">新型インターホンIoTシステム「SIMインターホンIoTシステム(仮称)」の開発完了</td>
			</tr>
			<tr>
				<th class="right normal">10月</th>
				<td class="normal">ブロックチェーンベースの暗号資産取引所システムを開発完了</td>
			</tr>
			<tr>
				<th class="right normal">11月</th>
				<td class="normal">株主優待制度を導入</td>
			</tr>
			<tr>
				<th class="right normal">12月</th>
				<td class="normal">センサー内蔵野球ボールの軟式球タイプ「テクニカルピッチ軟式M号球」販売開始</td>
			</tr>
			<tr>
				<th class="right normal">2020年&nbsp;&nbsp;4月</th>
				<td class="normal">センサー内蔵野球ボールの軟式球タイプ「テクニカルピッチ軟式J号球」（小学生向け）販売開始</td>
			</tr>
			<tr>
				<th class="right normal">8月</th>
				<td class="normal">給与立替サービス「Will Pay」の営業活動を開始</td>
			</tr>
			<tr>
				<th class="right normal">8月</th>
				<td class="normal">COVID-19対策アプリ「抗体パスポート」およびクラウドシステムの提供開始</td>
			</tr>
			<tr>
				<th class="right normal">9月</th>
				<td class="normal">センサー内蔵サッカーボール「TechnicalShot」をモニター販売開始</td>
			</tr>
			<tr>
				<th class="right normal">12月</th>
				<td class="normal">Jリーグライセンスゲーム『僕らのクラブがJリーグチャンピオンになるなんて』をサービス開始</td>
			</tr>
			<tr>
				<th class="right normal">2021年&nbsp;&nbsp;2月</th>
				<td class="normal">「アスリーテック・オンラインレッスン」ヨガプログラム、サッカープログラムの提供開始</td>
			</tr>
			<tr>
				<th class="right normal">12月</th>
				<td class="normal">暗号資産イーサリアム対応型NFTマーケットプレイスのサービス開始</td>
			</tr>
			<tr>
				<th class="right normal">2022年&nbsp;&nbsp;1月</th>
				<td class="normal">商号を「THE WHY HOW DO COMPANY 株式会社」に変更</td>
			</tr>
			<tr>
				<th class="right normal">4月</th>
				<td class="normal">東京証券取引所の市場区分見直しに伴いスタンダード市場に上場市場を変更</td>
			</tr>
			<tr>
				<th class="right normal">8月</th>
				<td class="normal">著名音楽プロデューサーの小室哲哉氏を執行役員に迎え、新たにエンタテインメント事業を開始</td>
			</tr>
			<tr>
				<th class="right normal">2023年&nbsp;&nbsp;6月</th>
				<td class="normal">純粋持株会社体制に移行し、ソリューション事業を行うWHDCアクロディア株式会社を簡易新設分割により設立</td>
			</tr>
			<tr>
				<th class="right normal">9月</th>
				<td class="normal">地域循環共生圏の構築を目指す株式会社宇部整環リサイクルセンターを子会社化</td>
			</tr>
			<tr>
				<th class="right normal">10月</th>
				<td class="normal">ゴルフナビゲーションアプリ「パタナビ」をリリース</td>
			</tr>
			<tr>
				<th class="right normal">10月</th>
				<td class="normal">子会社の宇部整環リサイクルセンターにおいて、地域循環共生圏の構築を図り、産業廃棄物処理業を開始</td>
			</tr>
			<tr>
				<th class="right normal">11月</th>
				<td class="normal">第三者割当による第13回乃至第15回新株予約権及び無担保社債（私募債）の発行</td>
			</tr>
			<tr>
				<th class="right normal">2024年&nbsp;&nbsp;9月</th>
				<td class="normal">カプセルトイ事業の株式会社ドリームプラネットを子会社化</td>
			</tr>
		</tbody>
	</table>
</section>

	<div id="speach">
		<div id="aboutHeader">
			<div id="speachTitle">
				<p class="highBlue borderHighBlue fontSize32">社長メッセージ</p>
				<ul id="speachData_Right">
					<li class="fontSize20 black">THE WHY HOW DO COMPANY株式会社</li>
					<li class="fontSize20 black">代表取締役社長&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;岩尾 俊兵</li>
				</ul>
			</div>
		</div>
		<div id="speachContent" class="bgWhite black fontSize20">
			<p>
				価値創造の力で、もう一度豊かになる。<br>
				<br>
				これは、私が社長就任にあたって株主の皆様と従業員の皆様とに示したビジョンです。当社は技術の力で急成長した輝かしい歴史を持ちます。しかし、やがて衰退局面に入ってしまい、そこから抜け出せずにいます。<br>
				<br>
				しかも、現場で働く人はどの会社より真面目で、実直で、誠実な人ばかりなのに、です。善人が努力を続けてもどんどんと貧しくなってしまう「構造」があったのです。その根本原因は全社的ビジネスモデルの不在にあったと考えます。全社的ビジネスモデルがないために、当社が色んなことに手を出していて何をやっている組織なのかが利害関係者に伝わらず、不信感が広がっていたと思うのです。<br>
				<br>
				当社はこれから全社的ビジネスモデルとして「企業再“成”プラットフォーム」を掲げます。まずは通常の事業再生を、次に「売らない事業承継」を、最後に「ビジネスモデル総合商社」を手掛けていきます。こうしてM&A業界における総合ディベロッパーのような唯一無二の存在を目指していきます。<br>
				<br>
				会社は色んなものを「預かる」存在です。株主から資金を預かり、お客様から信頼を預かり、従業員から人生を預かっています。人間というもの、預かったものは必ず返さなければいけません。もっと資金を預けたい、もっと信頼を預けたい、もっと人生を預けてみたい。そう思っていただける、信用のおける会社に生まれ変わるのが我々の使命です。<br>
				<br>
				このWebサイトを訪問して、私の思いを読んでくださったすべての方に、あらためて感謝申し上げます。引き続きのご指導ご鞭撻のほど何卒よろしくお願い申し上げます。<br>
			</p>
				<ul id="speachData">
					<li class="fontSize18 normal black right">敬具</li>
				</ul>
				<ul id="speachData">
					<li class="fontSize18 normal black right">2024年11月28日</li>
					<li class="fontSize18 normal black right">THE WHY HOW DO COMPANY株式会社</li>
					<li class="fontSize18 normal black right">代表取締役社長&nbsp;岩尾 俊兵</li>
				</ul>
		</div>
	</div>
	
	<section class="tableBox" id="profile">
		<ul>
			<li class="shadow bgHighBlue">
				<a href="companyname/" class="white fontSize20">社名の由来</a>
			</li>
		</ul>
	</section>

	<!-- footer -->
	<footer>
		<div id="footerOutPut" class="bgDeepBlue white">
			<script>
				var date_obj = new Date();
				var tparm = Math.floor(date_obj.getTime() / 1000);
				var url = "/parts/footer.html?" + tparm;
				$("#footerOutPut").load(url);
			</script>
		</div>
	</footer>
</main>
	<script src="../js/script.js"></script>
	<script src="../js/gaEventTracking.js"></script>
</body>
</html>