<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta name="format-detection" content="telephone=no">
	<meta name="keywords" content="THE WHY HOW DO COMPANY, WHDC">
	<meta name="description" content="THE WHY HOW DO COMPANY株式会社の会社情報(「アクセスマップ」「プライバシーポリシー」「ご利用にあたって」「お問い合わせ」)について情報を掲載しています。">
	<meta name="companyprofile" content="THE WHY HOW DO COMPANY株式会社(THE WHY HOW DO COMPANY, Inc.)、本社：東京都新宿区愛住町22 第3山田ビル、TEL：03-4405-5460、設立：2004年7月12日、代表者：代表取締役会長兼社長　田邊 勝己、証券取引所：東京証券取引所市場第二部、証券コード：3823、グループ事業：株式会社渋谷肉横丁、株式会社インタープラン、株式会社クリプト・フィナンシャル・システム、GUAM ENTERTAINMENT SYSTEMS,LLC、株式会社SOUND PORT、Pavilions株式会社、WHDCロジテック株式会社、株式会社宇部整環リサイクルセンター">
	<title>プライバシーポリシー｜ワイハウ - THE WHY HOW DO COMPANY株式会社</title>
	<link rel="icon" href="../image/favicon.ico">
	<link rel="stylesheet" href="../css/common.css">
	<link rel="stylesheet" href="../css/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	
	<script>
	$(document).ready(function() {
	  $(".view_timer").each(function(index, target) {
	    var startDate = $(this).attr("data-start-date");
	    var endDate = $(this).attr("data-end-date");
	    var nowDate = new Date();
		
	    if (startDate) {
	      startDate = new Date(startDate);
	    }
	    else {
	      startDate = nowDate;
	    }
	    if (endDate) {
	      endDate = new Date(endDate);
	    }

	    if (startDate <= nowDate && (!endDate || nowDate <= endDate)) {
	      $(this).show();
	    }
	    else {
	      $(this).hide();
	    }
	  });
	});
	</script>
	
</head>
<body>
	<div id="headerOutPut" class="bgDeepBlue white">
		<script>
			var date_obj = new Date();
			var tparm = Math.floor(date_obj.getTime() / 1000);
			var url = "/parts/header.html?" + tparm;
			$("#headerOutPut").load(url);
		</script>
	</div>
<main id="top">
<!-- ファーストビュー -->
	<div id="firstView">
		<div id="slideBox">
			<div id="slideFirst">
                <img class="view_timer" data-end-date="2021/12/31 23:59:59" id="image01" src="../image/firstview_top_768.png" alt="firstview_top_">
                <img class="view_timer" data-start-date="2022/1/1 00:00:00" id="image01" src="../image/firstview_top_2022_768.png" alt="firstview_top_">
			</div>
		</div>
	</div>
	<p class="topics">
		<span class="fontSize24 white normal privacyHeadding">プライバシーポリシー</span>
	</p>
 	<div class="otherWise">
 		<div class="owBox bgWhite">
 		
 			<a name="item1">
 			
			<h2 class="borderHighBlue fontSize26 blue left">個人情報保護方針</h2>
				<ul>
					<li class="fontSize18 left normal">
					THE WHY HOW DO COMPANY株式会社（以下、当社という）は、スマートフォン向けのサービスとしてプラットフォームサービスや、ソーシャルゲーム等のコンテンツサービスを事業の柱とする事業者として、すべての事業で取扱う個人情報および従業員等の個人情報を大切に取扱い、個人の権利利益を保護することが重要な社会的責務と考えています。<br>当社は、当社の事業の用に供するすべての個人情報を適切に取扱うため、当社全従業者が遵守すべき行動基準として本個人情報保護方針を定め、その遵守の徹底を図ることといたします。
					</li>
					<li class="fontSize18 left normal">
						1. 当社は、個人情報の取扱いに関する法令、国が定める指針その他の規範を遵守します。そのため、日本産業規格「個人情報保護マネジメントシステム — 要求事項」(JIS Q 15001)に準拠した個人情報保護マネジメントシステムを策定し、適切に運用いたします。
					</li>
					<li class="fontSize18 left normal">
						2. 当社は、事業の内容及び規模を考慮した適切な個人情報の取得、利用及び提供を行います。それには特定された利用目的の達成に必要な範囲を超えた個人情報の取扱いを行わないこと及びそのための措置を講じることを含みます。
					</li>
					<li class="fontSize18 left normal">
						3. 当社は、個人情報の取扱いの全部又は一部を委託する場合は、その取扱いを委託された個人情報の安全管理が図られるよう、委託を受けた者に対する必要かつ適切な監督を行います。
					</li>
					<li class="fontSize18 left normal">
						4. 当社は、本人の同意がある場合又は法令に基づく場合を除き、個人情報を第三者に提供することはありません。
					</li>
					<li class="fontSize18 left normal">
						5. 当社は、個人情報の漏えい、滅失又はき損の防止及び是正のための措置を講じます。
					</li>
					<li class="fontSize18 left normal">
						6. 当社は、個人情報の取扱いに関する苦情及び相談への適切かつ迅速な対応に努めます。また、当社の個人情報保護方針の内容に関するお問合せ及び、当社が保有する保有個人データの開示等の請求等（利用目的の通知、開示、訂正・追加又は削除、利用又は提供の停止）を受け付けます。当社の個人情報保護方針の内容に関するお問合せ及び、開示等の請求等の手続きにつきましては、以下の「個人情報苦情及び相談窓口」までご連絡ください。
					</li>
					<li class="fontSize18 left normal">
						7. 当社は、個人情報保護マネジメントシステムの継続的改善を行ないます。
					</li>
					<li class="fontSize18 right normal infoTitle">
						制定：2008年6月10日<br>改訂：2020年5月1日<br>THE WHY HOW DO COMPANY株式会社<br>代表取締役社長&emsp;岩尾&nbsp;俊兵
					</li>
				</ul>
				
			<a name="item2">
				
			<h2 class="borderHighBlue fontSize26 blue left">当個人情報保護方針に関するお問い合わせ</h2>
				<ul>
					<li class="fontSize20 left normal">THE WHY HOW DO COMPANY株式会社 個人情報苦情及び相談窓口</li>
					<li class="fontSize18 left normal">
						TEL:03-4405-5460<br>FAX:03-4405-6048<br>
						<a href="mailto:privacy@acrodea.co.jp?subject=[Acrodea Privacy Policy]">
							<img src="../image/goMail.gif" alt="メールを送信" width="116" height="29" />
						</a>
					</li>
					<li class="fontSize16 left normal">
						この受付窓口は、「個人情報の取扱いに関する苦情、相談」に関する窓口です。IR、製品及びサービスに関するお問い合わせにつきましては、別途窓口を設けておりますのでそちらからお願いいたします。
					</li>
                	<li class="fontSize16 left normal infoTitle">
                		IR情報に関するお問い合せ<br>
                    	<a href="../ir/inquiry/" class="black">お問い合わせページ</a>
                		<br>法人のお客様・製品・サービスに関するお問い合せ
                    	<br><a href="https://form.os7.biz/f/52e037cb/" class="black">送信フォームを開く
                    	</a>
              		</li>
					<!-- <li class="fontSize20 left normal">
						当社は、一般財団法人日本情報経済社会推進協会(JIPDEC)より「プライバシーマーク(Pマーク)」の使用許諾事業者として認定を受けております。
					</li>
					<li class="fontSize20 left normal">
						<a href="https://privacymark.jp/" target="_blank">
							<img height="85" alt="PrivacyMark" src="../image/privacy.gif" width="85" />
						</a>
					</li> -->
				</ul>

			<a name="item3">
			
			<h2 class="borderHighBlue fontSize26 blue left">当社が取扱う個人情報について</h2>
				<ul>
					<li class="normal fontSize18 black left">
						当社では「個人情報保護方針」に基づき個人情報の適切な保護に取り組んでいます。当社が事業の用に供するために取得し、または保有する個人情報について、以下の通りお知らせいたします。
					</li>

					<li class="normal fontSize18 black left">(1)個人情報の取扱事業者の名称</li>
					<li class="normal fontSize18 black left">THE WHY HOW DO COMPANY株式会社<br/>〒160-0005&nbsp;東京都新宿区愛住町22&nbsp;第3山田ビル</li>

					<li class="normal fontSize18 black left">(2)個人情報（要配慮情報を含む）の管理者およびその連絡先</li>
					<li class="normal fontSize18 black left">個人情報保護管理者&emsp;管理本部長&nbsp;橋本直樹<br/>TEL:03-4405-5460&emsp;FAX:03-4405-6048</li>

					<li class="normal fontSize18 black left">(3)直接書面取得以外で取得する場合の個人情報の利用目的</li>
					<li class="normal fontSize18 black left">・電話で伝えられた本人情報：お申込・ご相談において必要となった用件を処理するため</li>
					<li class="normal fontSize18 black left">・カメラで撮影した映像情報：当社敷地内、敷地出入口の安全、防犯等の管理のため</li>
					<li class="normal fontSize18 black left">・委託元から預託された情報：特定された利用目的の範囲内で行なう受託業務の遂行のため</li>
					<li class="normal fontSize18 black left">・人材会社から提供される個人情報：採用選考、情報提供および関連する業務連絡のため</li>
				</ul>

				<ul>
					<li class="normal fontSize18 black left">(4)個人情報に関するお問い合わせ窓口<br/>
					<li class="normal fontSize18 black left">個人情報の取扱いに関する苦情・相談の申し出先：<br/>TEL:03-4405-5460&emsp;FAX:03-4405-6048</li>
					<li class="normal fontSize18 black left">保有個人データの開示等の請求等に応じる申し出先：<br/>TEL:03-4405-5460&emsp;FAX:03-4405-6048</li>
				</ul>
				<ul>
					<li class="normal fontSize18 black left">(5)所属する認定個人情報保護団体の名称および苦情の解決の申し出先</li>
					<li class="normal fontSize18 black left">現在、当社の所属する認定個人情報保護団体はありません。</li>
				</ul>
				<ul>
					<li class="normal fontSize18 black left">(6)保有個人データの「開示等の請求等」に応じる手続き等</li>
					<li class="normal fontSize18 black left">
						ご本人がご自身を識別できる保有個人データについて、利用目的の通知、開示、内容の訂正、追加または削除、利用の停止、消去および第三者への提供の停止（総称して、「開示等」という）を求めるためのお申し出をされる場合は、上掲の当社「保有個人データの開示等の請求等に応じる申し出先」にご連絡下さい。<br/>
						当社より開示等の求めに際して提出していただく書面（開示等の請求等申請書）の様式を送付いたしますので、当該「申請書」に必要事項を記載し、申込みご本人様であることが確認できる書類などを添付のうえ、お申し込みできます。 
					</li>
				</ul>
	</div>
</div>
	<footer>
	<div id="footerOutPut" class="bgDeepBlue white">
		<script>
			var date_obj = new Date();
			var tparm = Math.floor(date_obj.getTime() / 1000);
			var url = "/parts/footer.html?" + tparm;
			$("#footerOutPut").load(url);
		</script>
	</div>
	</footer>
</main>
	<script src="../js/script.js"></script>
	<script src="../js/gaEventTracking.js"></script>
</body>
</html>