@charset "utf-8";

.borderIr {
  border: 4px solid #f5f5f5;
}

.irButton {
  text-decoration: none;
  text-align: center;
  padding: 1.4%;
  margin: 0.6% 1.4% 0 0;
  width: 160px;
}

.buttonW200 {
  width: 200px;
}

.buttonW240 {
  width: 240px;
  padding: 1.8% 0.8%;
}

.buttonW440 {
  width: 80%;
  padding: 1.8% 0.8%;
}

.blockButton {
  display: block;
  margin: 0 auto;
}

#fromCompany {
  position: absolute;
  bottom: 40px;
  right: 5%;
  margin: 4% auto 0 auto;
  width: 60%;
}

#fromCompany p {
  text-align: center;
  padding: 3% 0;
  width: 100%;
}

#fromCompany a {
  text-decoration: none;
}
/*/////////////////IR情報Top/////////////////////////*/
#irLink {
  margin: 4% auto 8% auto;
  width: 98%;
  height: auto;
}

#irLink .irLinks {
  text-decoration: none;
  margin: 4% auto;
  width: 100%;
}

.under {
  width: 100%;
  height: 100%;
}

/* .irLinks {
  background-image: url("../../image/ir_strongness.png");
  background-position: 25% center;
  -webkit-background-size: cover;
  background-size: cover;
  width: 100%;
  z-index: 100;
}

.irLinks:nth-of-type(2) {
  background-image: url("../../image/ir_stock.png");
}

.irLinks:nth-of-type(3) {
  background-image: url("../../image/ir_library.png");
}

.irLinks:nth-of-type(4) {
  background-image: url("../../image/ir_rinen.png");
}

.irLinks:nth-of-type(5) {
  background-image: url("../../image/ir_highright.png");
} */

.irLinks p {
  text-indent: 1.8rem;
  padding: 0.6%;
}

.under h2 {
  text-align: left;
  padding: 20px 20px 20px 20px;
}

.underAnchor {
  display: block;
  text-decoration: none;
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  z-index: 0;
}

.irLinkList {
  /* background: linear-gradient(
    to left,
    rgb(255, 255, 255, 0),
    rgb(255, 255, 255, 1)
  ); */
  width: 100%;
  height: 100%;
  position: relative;
}

.irLinkList .irFloatAnchor {
  font-size: 1.4rem;
  display: block;
  line-height: 20px;
  padding-left: 40px;
  position: relative;
  z-index: 1;
}

.irLinkList .irFloatAnchor:last-of-type {
  padding-bottom: 20px;
}

.irLinkList span.irFloatAnchor {
  display: none;
}

.irLinks:nth-of-type(5) .irLinkList {
  padding: 4% 0;
}

.irLinks:nth-of-type(5) br {
  display: none;
}

.irExamInfo {
  display: flex;
  flex-wrap: wrap;
  margin-top: 8px;
  margin-bottom: 6%;
  width: 98%;
  height: auto;
}

.irExamInfo .linkBox {
  width: 100%;
  border-radius: 1.5rem;
}

.irExamInfo a {
  text-decoration: none;
  text-align: center;
  margin-top: 1%;
  margin-left: 1%;
  padding: 2% 0;
}

.textLink {
  display: inline;
  text-decoration: underline;
  margin: 0;
  padding-right: 12px;
  position: static;
  width: auto;
}
/*//////////IRTOP以下の仮想ページに使用する共通部品/////////*/
.irPage {
  margin: 6% auto 1.8%;
  width: 100%;
}

.irBox {
  margin: 0 auto 4% auto;
  width: 98%;
}

.irContents {
  margin: 1.4% 0;
  padding: 1.8% 0 4% 0;
  width: 100%;
}

.irPadding {
  padding: 2% 4%;
}

.irPara {
  margin: 1% auto;
  padding: 2% 4% 2% 1.8%;
}

.irContents ul {
  width: 100%;
}

.irContents ul li {
  padding: 1.8% 0 0 1.6%;
  margin: 0 auto;
  width: 90%;
}

.irContents ul li img {
  vertical-align: middle;
  display: inline-block;
  margin: 0px 4px 12px 1px;
  width: 40px;
  height: 44px;
}

.irContents .right {
  padding-right: 20px;
}

.irHeading,
.irHeadingOther {
  font-size: 1.6rem;
  color: #f5f5f5;
  /* border-bottom: 2px solid #f5f5f5; */
  margin-bottom: 4px;
  position: relative;
  padding-left: 1.4rem;
  text-indent: 0;
}

.irHeading::before,
.irHeadingOther::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 4px;
  height: 30px;
  background-color: #009DE7;
  border-radius: 2px;
}

.irLibraryTitle {
  border-bottom: 2px solid #f5f5f5;
  margin: 0 auto;
  width: 98%;
}

#irInfo .irInfoButton {
  padding: 10% 0;
}
/*///////////////////表/////////////////*/
.irContents .tableBox table {
  background-color: #fff;
  width: 100%;
}

.irContents .tableBox h2 {
  text-indent: 1rem;
}

.irContents .tableBox table {
  border-collapse: collapse;
  margin: 1% auto;
  width: 100%;
}

.irContents .tableBox table tr th {
  font-weight: 400;
  padding: 0;
  font-size: 1.1rem;
}

.irContents .tableBox table tr td {
  font-size: 1.1rem;
  font-weight: 400;
  padding: 0;
  padding-left: 1%;
}

.irContents .tableBox tr a {
  display: block;
  font-weight: 400;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.stockTable {
  border-collapse: collapse;
  width: 100%;
}

.stockTable tr {
  width: 100%;
}

.stockTable th,
.stockTable td {
  font-weight: normal;
  font-size: 1.1rem;
  border: 1px solid #999;
  padding: 2% 0 2% 0.4%;
}

.stockTable th {
  width: 20%;
}

/* .stockTable td {} */

/*//////////////////////selectBox関連(IR資料、株式情報)///////////////////*/
select {
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  z-index: 1;
}

select::-ms-expand {
  display: none;
}

#divSelect,
.selectBox {
  position: relative;
  /* background-color: #00a0e8; */
  background-color: #f5f5f5;
  margin: 2% auto 6% auto;
  width: 300px;
}

#divSelect::after,
.selectBox::after {
  content: "▼";
  display: block;
  text-align: center;
  font-size: 2.6rem;
  color: #0c0c0c;
  /* color: #00a0e8; */
  position: absolute;
  top: 0;
  right: 0;
  border-left: 2px solid #fff;
  padding: 8px 17px;
  width: 60px;
  height: 50px;
}

#yearSelect,
.irSelect {
  font-size: 1.6rem;
  text-align: center;
  /* color: #fff; */
  color: #0c0c0c;
  padding: 1.6% 8%;
  border: none;
  background-color: transparent;
  width: 300px;
  height: 50px;
}

option {
  background-color: #f5f5f5;
}
/*/////////////トップメッセージ//////////////*/
#aboutHeader {
  margin: 3% auto 3% auto;
  width: 90%;
}

#speachTitle {
  margin: 0 8% 0 0;
  width: 80%;
}

#speachData {
  width: 100%;
  margin: 0 auto;
  padding: 0 2% 2% 0;
}
/*///////////////////////IR資料各ページ/////////////////////*/
.eIr a {
  color: #000;
}

.eIr a {
  color: #000;
}

#divSelect {
  margin: 0;
}

#ir_library {
  display: none;
}

#library {
  margin-top: 10px;
}

p#slideFirst {
  position: static;
  max-width: 1280px;
}
#divDataArea {
  padding-bottom: 3%;
  margin: 0;
  width: 100%;
  height: auto;
}

#divDataArea dl {
  text-align: left;
  padding: 2% 0 4% 0;
  margin: 2% auto;
  width: 90%;
}

#divDataArea h3 {
  font-size: 2rem;
  font-weight: 400;
  text-align: left;
  padding: 4% 0 1% 0;
}

#divDataArea dl dd {
  text-align: left;
  margin: 4% auto;
  width: 98%;
}

#divDataArea table {
  margin: 0 auto;
  padding: 4% 0;
  width: 98%;
}

#divDataArea table tr {
  display: flex;
  flex-direction: column;
  text-align: center;
  border-bottom: 1px solid;
}

#divDataArea tr td {
  font-size: 1.8rem;
  text-align: left;
  margin: 0 auto;
  padding: 1% 0;
  width: 80%;
}

#divDataArea tr td a {
  color: black;
  font-size: 1.6rem;
}

#divDataArea dl dd a,
.eIr a {
  font-size: 1.5rem;
  color: black;
  padding: 4%;
  margin: 0 auto;
  width: 100%;
}

#divDataArea dl dd img,
.eIr a img {
  padding-left: 15px;
}

#libraryNav {
  padding: 4% 0;
  width: 100%;
}

#libraryNav ul {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

#libraryNav li {
  margin: 0;
  width: 50%;
}

#libraryNav li .productLinkButton {
  margin: 4px auto;
  padding: 6%;
}

.scheduleBox {
  margin: 20px auto;
  width: 100%;
}

.scheduleBox p {
  padding: 8px 12px;
}

.scheduleBox time {
  padding-right: 2%;
}
/*/////////////////ダウンロードなどについての注意事項/////////////*/
#irNotes {
  clear: both;
  margin: 0 auto;
  padding: 4% 0;
  width: 94%;
}

#irNotesHead {
  display: flex;
  align-items: center;
  padding: 2px;
  margin-bottom: 4%;
}

#irNotesHead img {
  margin-right: 1%;
  width: 40px;
  height: 44px;
}

#irNotesFoot {
  margin: 6% auto 2%;
  width: 100%;
}

#irNotesFoot p {
  font-size: 1.1rem;
  padding: 3% 0;
}

#iframeBox {
  position: relative;
  width: 100%;
  max-width: 1280px;
  height: 670px;
}

#iframeBox iframe {
  position: absolute;
  top: 0;
  left: 0%;
  width: 100%;
  height: 100%;
}

#content-main table {
  width: 1280px;
}
/*///////////////////////財務ハイライト//////////////////////*/
#hqir {
  padding-top: 3.4%;
}

#qirNoteTop,
.qirLegend {
  font-size: 2rem;
}

.qirColumnWrapper .qirColumn .qirChart {
  font-weight: 400;
  height: 320px;
}

.qirColumnWrapper .qirColumn .qirLabel {
  font-size: 2.6rem;
  text-indent: 1.4rem;
  color: #f5f5f5;
  border-bottom: 4px solid #f5f5f5;
}

.qirColumnWrapper .qirColumn .qirTable {
  background-color: #fff;
}

.qirColumnWrapper .qirColumn .qirTable th,
.qirColumnWrapper .qirColumn .qirTable td {
  font-size: 2rem;
}

#qirNote {
  font-size: 2rem;
  color: #3c3f3f;
  padding-bottom: 6.8%;
}

#qirNote p {
  font-weight: normal;
}

/*////////////////////////IRニュース（トップ）////////////////////////*/
#twoColumn {
  margin: 0 auto 8px auto;
  width: 92%;
}

.nikuyokoStores #prNews,
.nikuyokoStores #irNews {
  background-color: transparent;
  padding: 0;
}

#prNews div,
#irNews div {
  margin: 0;
  padding: 0;
  width: 100%;
}

#prNews .newsBox .newsHeader,
#irNews .newsBox .newsHeader {
  width: 98%;
}

/*////////////////////////IRニュース一覧ページ////////////////////////*/
.irNewsPage .newsBox {
  margin-left: auto;
  margin-right: auto;
}

#irNewsSelect {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 2%;
}

#irNewsSelect .selectBox {
  background-color: #fff;
}

#irNewsSelect .selectBox {
  width: 260px;
  height: 60px;
  margin-bottom: 10px;
}

#irNewsSelect .selectBox::after {
  color: #0f0f11;
  border-left: 2px solid #f5f5f5;
  padding: 14px 15px;
  width: 60px;
  height: 60px;
}

#irNewsSelect .irSelect {
  font-size: 1.8rem;
  color: #0f0f11;
  padding-left: 44px;
  width: 260px;
  height: 60px;
}

#irNewsSelect option {
  color: #0f0f11;
  background-color: #fff;
}

.irNewsTab {
  display: block;
  font-size: 1.2rem;
  text-decoration: none;
  padding: 20px 0;
  width: 100%;
}

.selected {
  box-shadow: none;
}

#irNewsButton li {
  white-space: nowrap;
  width: 50%;
}

#irNewsButton {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.newsBoxIr {
  text-decoration: none;
  display: block;
  margin: 1.6% auto;
  /* padding: .2% 0 1.2% 0%; */
  padding: 8px;
  border-radius: 1.5rem;
}

.newsBox ul {
  margin: 1.6% 0 0.1% 0.8%;
}

/*////////////////////////企業憲章ページ////////////////////////*/
.list_indent {
  list-style-type: style;
  padding: 2% 0 2% 12px;
}

.list_indent > li {
  margin: 0 auto;
  width: 90%;
}

.list_kodo > li {
  margin-bottom: 14px;
}

.list_kodo > li > ul > li {
  padding: 0 !important;
  margin-left: 1.3em;
  text-indent: -1.3em;
  width: 95%;
}

@media screen and (min-width: 768px) {
  #fromCompany {
    bottom: 14px;
    right: 20px;
    width: 300px;
  }

  #irNewsLink {
    margin-left: 70%;
  }

  #irLink {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 2% auto 2% auto;
    width: 92%;
    height: 720px;
  }

  #irLink .irLinks {
    text-decoration: none;
    margin: 0.8%;
    width: 50%;
  }

  .irLinks {
    width: 50%;
  }

  .irExamInfo .linkBox {
    width: 15%;
  }

  .under h2 {
    text-align: left;
    /* padding: 40px 40px 40px 40px; */
  }

  .underAnchor {
    position: absolute;
    top: 0;
    z-index: 0;
  }

  .irLinkList {
    /* background: linear-gradient(
      to right,
      rgb(255, 255, 255, 0),
      rgb(255, 255, 255, 1)
    ); */
    direction: rtl;
  }

  .irLinkList .irFloatAnchor {
    display: inline;
    text-align: right;
    line-height: 40px;
    margin-right: 30px;
    padding-left: 0;
  }

  .irLinkList .irFloatAnchor:last-of-type {
    padding-bottom: 0;
  }

  .irLinkList span.irFloatAnchor {
    display: inline;
  }

  .irLinks:nth-of-type(5) br {
    display: block;
  }

  .irLinks:nth-of-type(5) .irLinkList {
    padding: 0;
  }

  .textLink {
    display: inline;
    font-size: 1.6rem;
    text-decoration: underline;
    margin: 0;
    padding-left: 20px;
    position: static;
    width: 100%;
  }
  /*//////////IRTOP以下の仮想ページに使用する共通部品/////////*/
  .irHeading {
    font-size: 2.6rem;
    /* border-bottom: 4px solid #f5f5f5; */
  }

  .irHeadingOther {
    font-size: 2.6rem;
  }

  #irInfo .irInfoButton {
    padding: 10% 0;
  }
  /*//////////////////////selectBox関連(IR資料、株式情報)///////////////////*/
  .selectBox {
    margin: 2%;
    width: 360px;
  }

  .irSelect {
    font-size: 2rem;
    width: 360px;
    height: 50px;
  }

  .irContents .tableBox table {
    table-layout: fixed;
  }

  .irContents .tableBox table tbody {
    width: 100%;
  }

  .irContents .tableBox table tr th {
    font-size: 1.4rem;
    padding: 0.8% 0;
  }

  .irContents .tableBox table tr td {
    font-size: 1.4rem;
    padding: 0.8% 1% 0 0.8%;
  }

  .stockTable th,
  .stockTable td {
    font-size: 1.4rem;
  }
  /*////////////////////////IRニュース一覧ページ////////////////////////*/
  #irNewsSelect {
    flex-direction: row;
    margin-top: 0%;
  }

  #irNewsSelect .selectBox {
    margin-bottom: 0px;
  }

  .irNewsTab {
    font-size: 1.6rem;
  }

  #irNewsButton li {
    white-space: nowrap;
    width: 25%;
  }

  #irNewsButton {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  #announcement {
    margin: 0 auto;
    width: 98%;
  }

  #divDataArea dl h3 {
    font-size: 2.2rem;
  }

  #divDataArea dl dd {
    text-align: left;
    font-size: 1.4rem;
    padding-bottom: 20px;
    border-bottom: 1px dotted #888;
    margin: 4% 0;
  }

  #divDataArea dl dd:last-of-type {
    border-bottom: none;
  }

  #divDataArea dl dd a {
    font-size: 2rem;
  }

  #divDataArea dl dd img {
    width: 24px;
    padding-left: 0;
    padding-right: 4px;
  }

  #library {
    margin-top: 20px;
  }

  #libraryNav {
    margin: 0 auto;
    padding: 4% 0;
    width: 80%;
  }

  #libraryNav ul {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  #libraryNav li:last-of-type a {
    display: none;
  }

  #iframeBox iframe {
    left: 25%;
    max-width: 506px;
  }

  .scheduleBox {
    margin: 20px auto;
    width: 90%;
  }

  .scheduleBox time {
    padding-right: 4%;
  }
}

@media screen and (min-width: 1021px) {
  .irContents .tableBox table tr th {
    padding-left: 1.1%;
    white-space: nowrap;
  }
}
