<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta name="format-detection" content="telephone=no">
	<meta name="keywords" content="THE WHY HOW DO COMPANY, WHDC">
	<meta name="description" content="THE WHY HOW DO COMPANY株式会社の会社情報(「アクセスマップ」「プライバシーポリシー」「ご利用にあたって」「お問い合わせ」)について情報を掲載しています。">
	<meta name="companyprofile" content="THE WHY HOW DO COMPANY株式会社、本社：東京都新宿区愛住町22 第3山田ビル、TEL：03-4405-5460、設立：2004年7月12日、代表者：代表取締役社長   篠原 洋、証券取引所：東京証券取引所市場第二部、証券コード：3823、発行済株式数：25,794,693株(2019年8月31日現在)、主要株主：田邊 勝己(15.95％)、堤 純也(1.70％)(2019年8月31日現在) 、グループ会社：株式会社渋谷肉横丁、株式会社インタープラン、株式会社クリプト・フィナンシャル・システム、GUAM ENTERTAINMENT SYSTEMS,LLC 、株式会社セントラル・ベアー・アセット・マネジメント、有限会社武藤製作所">
	<title>THE WHY HOW DO COMPANY | ご利用にあたって</title>
	<link rel="icon" href="../image/favicon.ico">
	<link rel="stylesheet" href="../css/common.css">
	<link rel="stylesheet" href="../css/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<script>
	$(document).ready(function() {
	  $(".view_timer").each(function(index, target) {
	    var startDate = $(this).attr("data-start-date");
	    var endDate = $(this).attr("data-end-date");
	    var nowDate = new Date();
		
	    if (startDate) {
	      startDate = new Date(startDate);
	    }
	    else {
	      startDate = nowDate;
	    }
	    if (endDate) {
	      endDate = new Date(endDate);
	    }

	    if (startDate <= nowDate && (!endDate || nowDate <= endDate)) {
	      $(this).show();
	    }
	    else {
	      $(this).hide();
	    }
	  });
	});
	</script>
	
</head>
<body>
	<div id="headerOutPut" class="bgDeepBlue white">
		<script>
			var date_obj = new Date();
			var tparm = Math.floor(date_obj.getTime() / 1000);
			var url = "/parts/header.html?" + tparm;
			$("#headerOutPut").load(url);
		</script>
	</div>
<main id="top">
<!-- ファーストビュー -->
	<div id="firstView">
		<div id="slideBox">
			<div id="slideFirst">
                <img class="view_timer" data-end-date="2021/12/31 23:59:59" id="image01" src="../image/firstview_top_768.png" alt="firstview_top_">
                <img class="view_timer" data-start-date="2022/1/1 00:00:00" id="image01" src="../image/firstview_top_2022_768.png" alt="firstview_top_">
			</div>
		</div>
	</div>
	<p class="topics">
		<span class="fontSize24 white normal privacyHeadding">ご利用にあたって</span>
	</p>
 	<div class="otherWise">
 		<div class="owBox bgWhite">
				
				<p class="fontSize20 center normal">
					当ウェブサイトは、THE WHY HOW DO COMPANY株式会社の活動をご理解いただくための情報提供を目的としたものです。<br>当ウェブサイトをご利用の際には、下記の利用規定を必ずお読みください。当ウェブサイトに含まれるコンテンツや情報を閲覧、使用、ダウンロードされた場合には、以下の記載事項、条件に同意されたこととさせていただきます。
				</p>
				<div class="owBox bgWhite">
				<h2 class="borderHighBlue fontSize26 blue left">免責事項</h2>
				<ul>
					<li class="fontSize20 left normal">
						当ウェブサイトのご利用は、お客様ご自身の責任において行われるものとします。当ウェブサイト上に掲載されている各種情報については、慎重に作成、管理いたしますが、これらの情報の正確性、有用性、完全性をTHE WHY HOW DO COMPANY株式会社は一切保証いたしません。また、お客様がこれらの情報をご利用になり、またはご利用になれなかったことによる障害および損害について、THE WHY HOW DO COMPANY株式会社は一切の責任を負いませんのでご了承ください。<br>
						THE WHY HOW DO COMPANY株式会社は、お客様が当ウェブサイトにリンクが張られている第三者のウェブサイト、または当ウェブサイトにリンクを張られている第三者のウェブサイトから取得する各種情報のご利用に際して生じたいかなる損害についても一切の責任を負いません。
					</li>
					<li class="fontSize20 left normal">
						通信環境、お客様のコンピュータ環境などにより、当ウェブサイト正常にご利用できない場合がございます。<br>
						当ウェブサイトに掲載する情報の全てまたは一部を予告なく変更する場合がございます。<br>
						当ウェブサイトの運用休止または停止をする場合がございます。
					</li>
					<li class="fontSize20 left normal">
						当社は、個人情報の取扱いに関する法令､国が定める指針その他の規範を遵守します。
					</li>
				</ul>
			</div>
			<div class="owBox bgWhite">
				<h2 class="borderHighBlue fontSize26 blue left">著作権・商標権</h2>
				<ul>
					<li class="fontSize20 left normal">
						当ウェブサイト上に掲載されている著作物（文章、写真、イラスト、動画、音声、ソフトウェア等）の著作権は、THE WHY HOW DO COMPANY株式会社または第三者に帰属し、著作権法ならびに条約により保護されております。<br>
						私的使用目的の複製、引用等、著作権法上認められている範囲を除き、著作権者の許諾なしに、これらの著作物を複製、引用、転送、配布、改変、修正、追加、翻訳、転送、上演等の行為を禁止いたします。<br>
						当ウェブサイトに掲載されている、THE WHY HOW DO COMPANY株式会社の商品またはサービスの名称等は、THE WHY HOW DO COMPANY株式会社の商標または登録商標です。<br>
						THE WHY HOW DO COMPANY株式会社への使用許諾のお申し込みは<a href="../inquiry/index.html">「お問い合わせ」</a>よりご連絡ください。
					</li>
				</ul>
			</div>
			<div class="owBox bgWhite">
				<h2 class="borderHighBlue fontSize26 blue left">当ウェブサイトへのリンクについて</h2>
				<p class="fontSize20 black center">
					当ウェブサイトへのリンクは、営利、非営利を問わず原則自由とし、THE WHY HOW DO COMPANY株式会社へのご連絡は不要といたします。但し、以下のいずれかに該当するか、またはその恐れがある場合にはご遠慮ください。<br>なお、リンクに関連した賠償、苦情等に関して、THE WHY HOW DO COMPANY株式会社は何ら責任を負いませんのでご了承ください。
				</p>

				<ul>
					<li class="fontSize20 left normal">THE WHY HOW DO COMPANY株式会社およびTHE WHY HOW DO COMPANY株式会社の製品、サービス、その他活動につき誹謗中傷をするなど、THE WHY HOW DO COMPANY株式会社の信用を毀損する内容を含むウェブサイトからのリンク</li>
					<li class="fontSize20 left normal">違法である情報を含むウェブサイトからのリンク</li>
					<li class="fontSize20 left normal">公序良俗、社会倫理に反する内容を含むウェブサイトからのリンク</li>
					<li class="fontSize20 left normal">THE WHY HOW DO COMPANY株式会社と何らかの提携、協力関係にあると誤解を与えるリンク。または、THE WHY HOW DO COMPANY株式会社がリンク元のウェブサイトおよび内容を支持しているなどの誤解を生じるリンク</li>
				</ul>

				<p class="fontSize20 black">
					上記いずれに該当しない場合にも、フレームリンクやイメージリンク、当ウェブサイトの情報であることが不明確であるリンクなどは、リンクの設定方法の変更、削除をお願いする場合がございます。<br>なお、当ウェブサイトのコンテンツや情報、URLは、予告なしに変更、廃止される場合がありますので、あらかじめご了承ください。
				</p>
			</div>
			<div class="owBox bgWhite">
<!-- 				<h2 class="borderHighBlue fontSize26 blue left">推奨環境</h2>
				<p class="fontSize20 black">
					当ウェブサイトでは次のブラウザでの表示を確認しております。<br>
					【Windows】Internet Explorer® 7.0以上, FireFox 2.0.0.6以上, Opera 9.23以上<br>
					【Macintosh】FireFox 2.0.0.6以上, Opera 9.23以上, Safari 2.0.4以上<br>
				</p> -->
				<h2 class="borderHighBlue fontSize26 blue left">JavaScriptについて</h2>
				<p class="fontSize20 black">
					当サイトではJavaScriptを使用しています。JavaScriptが無効の環境では、一部不具合が発生する場合がございます。当サイトご利用の際にはJavaScriptを有効にしてください。
				</p>
			</div>
<!-- 			<div class="owBox bgWhite">
				<h2 class="borderHighBlue fontSize26 blue left">RSSについて</h2>
				<p class="fontSize20 black">
					当サイトでは新着情報やお知らせなどをRSSで提供しています。「RSSリーダー」やRSSに対応したブラウザを使用することで、更新状況を自動でお知らせします。(当サイトでは、RSS1.0 / RSS2.0にて配信しています。)<br>
				弊社事情により予告なく、サービスを休止したり、提供する内容やフォーマットなどを変更したり、配信を停止させていただく可能性があります。あらかじめご了承ください。
				</p>
			</div> -->
			<div class="owBox bgWhite">
				<h2 class="borderHighBlue fontSize26 blue left">プラグインについて</h2>
				<p class="fontSize20 black">
					当サイトでは Adobe Readerを使用しています。各プラグインをお持ちでない場合は、各社ダウンロードサイトよりプラグインをダウンロードし、インストールを行って下さい。
				</p>
			</div>
	</div>
</div>
	<footer>
		<div id="footerOutPut" class="bgDeepBlue white">
			<script>
				var date_obj = new Date();
				var tparm = Math.floor(date_obj.getTime() / 1000);
				var url = "/parts/footer.html?" + tparm;
				$("#footerOutPut").load(url);
			</script>
		</div>
	</footer>
</main>
	<script src="../js/script.js"></script>
	<script src="../js/gaEventTracking.js"></script>
</body>
</html>